<% include header.ejs %>
<body class="text-center">
    <div class="card mt-5 text-light bg-dark shadow-lg">
        <div class="card-header">
            <h2 class="card-title">CANDIDATOS</h2>
        </div>  
    </div>
    <div class="card">
        <table class="table">
            <thead class="thead-dark">
                <tr class="header">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Sexo</th>
                    <th>Partido</th>
                </tr>
            </thead>
            <tbody>
                <% candidates.forEach((item) => { %>
                    <tr>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <%= item.lastName %>
                        </td>
                        <td>
                            <%= item.sex %>
                        </td>
                        <td>
                            <%= item.team %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div class="card mt-3 text-light shadow-lg">
        <div class="card-header bg-dark text-light">
            <h1>Nuevo Candidato</h1>
        </div>
        <div class="card-body bg-light">
            <div>
                <div>
                    <form action="/candidates" method="POST">
                        <div class="cargaDatos">
                            <input class="form-control" type="text" name="nameCand" 
                            placeholder="Nombre" required>
                            <input class="form-control" type="text" name="lastCand" 
                            placeholder="Apellido" required>
                            <select class="form-control" name="sexCand">
                                <option value ="male">Hombre</option>
                                <option value ="female">Mujer</option>    
                            </select>
                            <input class="form-control" type="text" name="teamCand" 
                            placeholder="Partido" required>
                        </div>
                        <a class="btn btn-secondary btn-lg" href="/">Volver</a>
                        <input class="btn btn-success btn-lg" type="submit" value="AGREGAR">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
