<% include header.ejs %>
<div class="card-body candtable">
    <table class="table table-responsive-sm table-striped">
        <thead class="thead-dark">
            <tr class="header">
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Sexo</th>
                <th>Partido</th>
            </tr>
        </thead>
        <tbody>
            <% candidates.forEach((item) => { %>
                <tr>
                    <td>
                        <%= item.name %>
                    </td>
                    <td>
                        <%= item.lastName %>
                    </td>
                    <td>
                        <%= item.sex %>
                    </td>
                    <td>
                        <%= item.team %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="card-header bg-info text-light">
        <h1>Nuevo Candidato</h1>
        <a class="btn btn-outline-light btn-lg" href="/">Volver</a>
    </div>
    <div class="card-body bg-light">
        <div>
            <div>
                <form action="/candidates" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="nameCand" 
                        placeholder="Nombre" required>
                        <input class="form-control" type="text" name="lastCand" 
                        placeholder="Apellido" required>
                        <select class="form-control" name="sexCand">
                            <option value ="male">Hombre</option>
                            <option value ="female">Mujer</option>    
                        </select>
                        <input class="form-control" type="text" name="teamCand" 
                        placeholder="Partido" required>
                    </div>
                    <div class="btnLog">
                        <input class="btn btn-success btn-lg" type="submit" value="AGREGAR">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
