body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.cargaDatos {
  margin-left: 20%;
  margin-right: 20%;
}

.body_index {
  text-align: center;
  background-image: url("./../images/presidentes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}